<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/todos.css">
    <!-- Add the following js-confetti script-->
    <script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
</head>
<body>
    <section class="planner">
    <header>
        <h1><%= user.userName %>'s To Dos</h1>
        <h2><%= user.userName %>, you have <%= left %> things left to do.</h2>
    </header>
     
        <div> 
            <ul>
            <% todos.forEach( el => { %>
                <li class='todoItem' data-id='<%=el._id%>'>
                    <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                    <span></span>
                    <span class="edit"> Edit </span> 
                    <span></span>               
                    <span class='del'> Delete </span>                
                </li>
            <% }) %>    
            </ul>   
        </div>
        <div>
            <form class='form' action="/todos/createTodo" method='POST'>
                <input class='textInput' type="text" placeholder="Enter Todo Item" name='todoItem'>
                <input class='submit' type="submit">
            </form>
        </div>
    </section>
    <section class="planner2">
        <div class="container"></div>
        <div class="container"></div>
        <div class="container"></div>
        <div class="container"></div>
        <div class="container"></div>
        <div class="container"></div>
        <div class="container"></div>
        <a id='logout' href="/logout">Logout</a>
    </section>
    <section> 
        
    </section>
    

    <script src="js/main.js"></script>
    <!-- Add the following js-confetti script-->
    <script> 
        const jsConfetti = new JSConfetti()

        function launchConfetti() {
            jsConfetti.addConfetti({
            /*emojis: ['⭐️', '⚡️', '💥', '✨', '💫', '🔥'],
            emojiSize: 15,*/
            confettiColors: ['#FEF30A', '#FFF30A', '#060909'],
            confettiRadius: 3,
            confettiNumber: 10000,
        })
        }
        document.querySelector(".not").addEventListener("click", launchConfetti); 
    </script>
</body>
</html>